<a href="https://colab.research.google.com/github/yasminnshw/datmin/blob/main/Projek_UAS_Datmin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projek UAS Data Mining

Anggota
1. Audrey Aliyya Marlavi
2. Yasmin Nashwa

# Pre-processing

## Library Preparation

In [ ]:
#import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msnum
from scipy.stats import skew

## Load Data

In [ ]:
!gdown 1XRQnGAYhyMH-B1lDIRsbI064EyE52mBd

Downloading...
From: https://drive.google.com/uc?id=1XRQnGAYhyMH-B1lDIRsbI064EyE52mBd
To: /content/datmin.xlsx
100% 110M/110M [00:02<00:00, 38.9MB/s]

In [ ]:
df = pd.read_excel('/content/datmin.xlsx')
df

,ID,WILAYAH,JENIS KELAMIN,USIA,LAMA BERDINAS,PENDIDIKAN TERAKHIR,TINGGI BADAN,BERAT BADAN,LINGKAR PINGGANG,Status Perkawinan,...,Sumber air bersih di tempat tinggal saudara ?,Penggunaan air bersih untuk makan & minum bersumber dari :,Berapa jarak jamban dengan sumur dirumah saudara ?,Bagaimana saluran pembuangan air (sanitasi) rumah tangga?,Apakah terdapat tempat sampah di sekitar rumah?,Berapa jarak tempat sampah dengan rumah saudara ?,Apakah di sekitar tempat tinggal Saudara tersedia fasilitas umum (fasum) untuk kegiatan/aktivitas olah raga?,Kelompok Umur,NILAI IMT,IMT
0,1,KALBAR,LAKI - LAKI,34.0,16.0,SMA,168.9,85.0,100.0,Menikah,...,Air PAM,Tadah hujan,Lebih dari 12 meter,Ada,"Ada, terbuka",Lebih dari 10 meter,Tidak ada,25 - 34,29.796114,Obesitas
1,2,KALBAR,LAKI - LAKI,43.0,23.0,SMA,169.5,70.0,80.0,Menikah,...,Air PAM,Air mineral isi ulang,Lebih dari 12 meter,Ada,"Ada, tertutup",Lebih dari 10 meter,Tidak ada,35 - 44,24.364563,Normal
2,3,KALBAR,LAKI - LAKI,21.0,1.0,SMA,169.5,60.0,78.0,Belum Menikah,...,Air PAM,Air mineral isi ulang,Tidak memiliki jamban sehat,Ada,Tidak ada,NaN,Tidak ada,15 - 24,20.883912,Normal
3,4,KALBAR,LAKI - LAKI,40.0,23.0,S2,166.8,80.0,34.0,Menikah,...,Air PAM,Air mineral isi ulang,Tidak memiliki jamban sehat,Ada,"Ada, tertutup",Lebih dari 10 meter,Tidak ada,35 - 44,28.753975,Obesitas
4,5,KALBAR,LAKI - LAKI,28.0,9.0,SMA,164.5,62.0,32.0,Menikah,...,Air PAM,Air mineral isi ulang,Lebih dari 12 meter,Ada,"Ada, tertutup",Lebih dari 10 meter,Ada,25 - 34,22.911836,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289796,289797,KALSEL,LAKI - LAKI,23.0,4.0,SMA,169,60.0,78.0,Menikah,...,Air PAM,Air PAM,Tidak memiliki jamban sehat,Tidak tahu,"Ada, terbuka",Kurang dari 10 meter,Ada,15 - 24,21.007668,Normal
289797,289798,JATENG,PEREMPUAN,54.0,27.0,SMA,155,60.0,62.0,Menikah,...,Sumur/Kali,Air mineral kemasan,Kurang dari 12 meter,Ada,"Ada, terbuka",Kurang dari 10 meter,Tidak ada,45 - 54,24.973985,Normal
289798,289799,SUMSEL,LAKI - LAKI,51.0,51.0,SMA,575,57.0,28.0,Menikah,...,Sumur/Kali,Air sumur,Lebih dari 12 meter,Ada,"Ada, tertutup",Lebih dari 10 meter,Ada,45 - 54,1.724008,Sangat Kurus
289799,289800,JABAR,LAKI - LAKI,35.0,17.0,SMA,179,55.0,68.0,Menikah,...,Sumur/Kali,Air sumur,Lebih dari 12 meter,Tidak tahu,Tidak ada,NaN,Ada,35 - 44,17.165507,Kurus
289800,289801,JABAR,LAKI - LAKI,19.0,1.0,SMA,171,100.0,33.0,Belum Menikah,...,Sumur/Kali,Air sumur,Kurang dari 12 meter,Ada,"Ada, terbuka",Lebih dari 10 meter,Ada,15 - 24,34.198557,Obesitas

In [ ]:
df.to_csv ("datmin.csv",
                  index = None,
                  header=True)

# read csv file and convert
# into a dataframe object
df = pd.DataFrame(pd.read_csv("datmin.csv"))

# show the dataframe
df

NameError: ignored